html
  head
    title Pep8ify - Automatic PEP8 formatting online
    link(href="main.css", rel="stylesheet")
  body
    form(method="post")
      textarea
      button(type="submit") Pep8ify

    script(src="https://cdnjs.cloudflare.com/ajax/libs/superagent/0.15.7/superagent.js")
    script(src="/pep8ify.js")
