body {
  background-color: #81AD6C;
}

html, body, form {
  height: 100%;
}

header {
  font-size: 18pt;
  color: white;
  background-color: #316418;
}

form {
  padding-bottom: 50px;
}

textarea {
  width: 100%;
  height: 70%;
  /*margin-bottom: 50px;*/
  padding-bottom: 50px;
}

button {
  width: 100%;
  height: 50px;
  /*padding-top: -50px;*/
}
